# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Env
.env
.env.*

# Node
node_modules/
dist/
build/

# Python
__pycache__/
*.pyc
.pytest_cache/
.venv/
venv/

# Coverage
coverage/
.coverage

# Misc
tmp/
temp/
